<%- include('partials/header') %>

  <h1>Users Table</h1>
  <table class="table table-striped">
    <thead>
      <th>
        ID
      </th>
     <th>
        Name
      </th>
      <th>
        E-Mail
      </th>
      <th>
        Role
      </th>
    </thead>
    <tbody>
      <% if (data && data.length> 0) { %>
        <% data.forEach(row=> { %>
          <tr>
            <td>
              <%= row.user_id %>
            </td>
           <td>
              <%= row.name %>
            </td>
            <td>
              <%= row.email %>
            </td>
            <td>
              <%= row.role %>
            </td>
          </tr>
          <% }) %>
            <!-- <% } else { %>
              <li>No data found</li>
              <% } %> -->
    </tbody>
  </table>
  <!-- <ul>
    <% if (data && data.length> 0) { %>
      <% data.forEach(row=> { %>
        <li>
          ID: <%= row.user_id %> |
            Username: <%= row.username %> |
              Email: <%= row.email %> |
                Role: <%= row.role %>
        </li>
        <% }) %>
          <% } else { %>
            <li>No data found</li>
            <% } %>
  </ul> -->
  <%- include('partials/footer') %>